@model Donau.Services.Dtos.Customers.CustomersDto
@{
    var x = Html.Ui();
}

<util-toolbar color="Primary">
    <util-icon material-icon="Menu"></util-icon>
    <span>工具栏</span>
    <util-toolbar-fill-remain />
    <util-icon material-icon="Code"></util-icon>
</util-toolbar>
<mat-select-list-wrapper #a title="哈哈" url="/api/customers/test" [(model)]="options" name="b"></mat-select-list-wrapper>
<util-form id="form" on-submit="onChange(form)">
    <util-card>
        <util-card-content>

            <util-select-list>
                <util-select-list-item></util-select-list-item>
            </util-select-list>




            @using( var grid = x.Grid().Columns( 8 ).Colspan( 3, 5 ).RowHeight( "60" ).Begin() ) {
                @grid.TextBox( t => t.Name )
                @grid.TextBox( t => t.CreationTime )
                @grid.Select( t => t.Nation )
                @grid.CheckBox( t => t.IsGender )
                @grid.SlideToggle( t => t.IsGender )
                @grid.Radio( t => t.IsGender )
            }
        </util-card-content>
        <util-divider />
        <util-card-actions align="Right">
            @x.Button().Reset()
            @x.Button().Submit()
        </util-card-actions>
        <util-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </util-card-footer>
    </util-card>
</util-form>