@model Donau.Services.Dtos.Customers.CustomersDto
@{
    var x = Html.Ui();
}

<util-toolbar color="Primary">
    <util-icon material-icon="Menu"></util-icon>
    <span>工具栏</span>
    <util-toolbar-fill-remain />
    <util-icon material-icon="Code"></util-icon>
</util-toolbar>



<util-form id="form" on-submit="onChange(form)">
    <util-card>
        <util-card-content>
            <util-list>
                <util-list-title>
                    标题
                </util-list-title>
                <util-list-item>
                    哈哈
                </util-list-item>
                <util-list-item>
                    嘿嘿
                </util-list-item>
                <util-list-item ng-for="let item of items">
                    {{item}}
                </util-list-item>
            </util-list>
            @using ( var grid = x.Grid().Columns( 8 ).Colspan( 3, 5 ).RowHeight( "60" ).Begin() ) {
                @grid.TextBox( t => t.Name )
                @grid.TextBox( t => t.CreationTime )
                @grid.Select( t => t.Nation )
                @grid.CheckBox( t => t.IsGender )
                @grid.SlideToggle( t => t.IsGender )
                @grid.Radio( t => t.IsGender )
            }
        </util-card-content>
        <util-divider />
        <util-card-actions align="Right">
            @x.Button().Reset()
            @x.Button().Submit()
        </util-card-actions>
        <util-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </util-card-footer>
    </util-card>
</util-form>